@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Be Vietnam Pro", "Work Sans", system-ui, sans-serif;
  --font-display: "Be Vietnam Pro", sans-serif;
  --font-label: "Work Sans", sans-serif;

  --color-primary-base: #0f5238;
  --color-primary-container-base: #2d6a4f;
  --color-on-primary-container-base: #a8e7c5;
  --color-secondary-base: #006c48;
  --color-secondary-container-base: #92f7c3;
  --color-on-secondary-container-base: #00734d;
  --color-background-base: #f9f9f8;
  --color-on-background-base: #191c1c;

  --color-surface-container-lowest-base: #ffffff;
  --color-surface-container-low-base: #f3f4f3;
  --color-surface-container-base: #edeeed;
  --color-surface-container-high-base: #e7e8e7;
  --color-surface-container-highest-base: #e1e3e2;

  --color-outline-base: #707973;
  --color-outline-variant-base: #bfc9c1;
  --color-error-base: #ba1a1a;
  --color-error-container-base: #ffdad6;
  --color-on-error-container-base: #93000a;
}

@layer base {
  body {
    background-color: var(--color-background-base);
    color: var(--color-on-background-base);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

